@{
    ViewData["Title"] = "Confirmation Email - Scribble Accounts";
    Layout = "_Layout";
}

<div>
    <h2>@ViewData["Title"]</h2>
    <p>
        Email has been successfully confirmed.
    </p>
</div>