@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Scribble.Identity.Web.Infrastructure.Helpers
@{
    ViewData["Title"] = "Forgot password";
    Layout = "_Layout";
}

<div class="form-container">
    @Html.Logo()
    @Html.Title("Account recovery", "To help keep your account safe, Scribble wants to make sure it’s really you trying to sign in")
    <div class="image">
        <i class="fa fa-envelope" aria-hidden="true"></i>
    </div>
    <h4>You've been emailed a password reset link.</h4>
    <section id="sign-in-form">
        <form method="get" asp-action="SignIn" asp-controller="Account" asp-route-returnUrl="@ViewData["ReturnUrl"]">
            <button class="main-button" type="submit">OK</button>
        </form>
    </section>
</div>