@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password - Scribble Accounts";
    Layout = "_Layout";
}

<form autocomplete="off" method="post" asp-controller="Account" asp-action="ForgotPassword">
    <div class="icon">
        <img class="logo" src="~/img/logo.png" alt="Scribble">
    </div>
    <hr>
    <h3>Restore access to your Scribble account</h3>
    <input type="email" placeholder="Email" asp-for="Email" required>
    <button class="bold" type="submit" asp-route-returnUrl="@ViewData["ReturnUrl"]">Continue</button>
</form>