@{
    ViewData["Title"] = "Forgot password";
    Layout = "_Layout";
}

@using (Html.BeginForm("SignIn", "Account", new { returnUrl = ViewData["ReturnUrl"] }, FormMethod.Get))
{
    <div class="logo">
        <div class="sign">
            <div class="square"></div>
        </div>
        <span class="name">Scribble</span>
    </div>

    <div class="title">
        <h3>Account recovery</h3>
        <h4>To help keep your account safe, Scribble wants to make sure it’s really you trying to sign in</h4>
    </div>

    <div class="image">
        <i class="fa fa-envelope" aria-hidden="true" ></i>
    </div>

    <h4>You've been emailed a password reset link.</h4>

    <button type="submit">OK</button>

    <div class="form-links">
        @Html.ActionLink("Sign in", "SignIn", "Account", new {returnUrl = ViewData["ReturnUrl"]}, new
        {
            @class = "button"
        })
        @Html.ActionLink("Sign up", "SignUp", "Account", new {returnUrl = ViewData["ReturnUrl"]}, new
        {
            @class = "button"
        })
    </div>
}