@using Scribble.Identity.Web.Infrastructure.Helpers
@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset password";
    Layout = "_Layout";
}

<div class="form-container">
    @Html.Logo()
    @Html.Title("Account recovery", "Enter new password for your account")
    <section id="reset-password-form">
        <form method="post" autocomplete="off" asp-action="ResetPassword" asp-controller="Account" asp-route-returnUrl="@ViewData["ReturnUrl"]">
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="password" placeholder="Password">
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Confirm</label>
                <input asp-for="ConfirmPassword" type="password" placeholder="Confirm">
            </div>
            <button class="main-button" type="submit">Submit</button>
        </form>
    </section>
</div>