@using Scribble.Identity.Web.Infrastructure.Helpers

@{
    ViewData["Title"] = "Reset password";
    Layout = "_Layout";
}

@using (Html.BeginForm("SignIn", "Account", new { returnUrl = ViewData["ReturnUrl"] }, FormMethod.Get))
{
    @Html.Logo()
    @Html.Title("Account recovery", "Password was successfully changed. Now you can sign in")

    <div class="image">
        <i class="fa fa-check" aria-hidden="true"></i>
    </div>

    <button type="submit">Sign in</button> 
}