@using Scribble.Identity.Web.Infrastructure.Helpers
@{
    ViewData["Title"] = "Error";
    Layout = "_Layout";
}

@using (Html.BeginForm("SignIn", "Account", new { returnUrl = ViewData["ReturnUrl"] }, FormMethod.Get))
{
    @Html.Logo()
    @Html.Title("Error", "Some error occurred while handling the request. Please, try again later")

    <div class="image">
        <i class="fas fa-exclamation-circle" aria-hidden="true"></i>
    </div>

    <button type="submit">OK</button>
}
