@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");

@media (min-width: 720px) {
    footer {
        width: 100%;
        min-width: min-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 10px #333333;
        background-color: #222222;
    }

    nav {
        width: 25%;
        min-width: 200px;
        padding: 20px 5px;
        box-sizing: border-box;
    }

    :focus {
        outline: 0 !important;
    }

    form {
        width: 450px;
    }

    .form-group {
        width: 100%;
    }

    .form-control {
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid lightgray;
        font-size: 0.9rem;
    }

    .form-control:focus {
        border-bottom-color: lightgray;
        box-shadow: none;
    }

    .form-control.form-control-last {
        border-bottom: 0;
    }

    .form-control::placeholder {
        opacity: 0.6;
    }

    .form-control.input-validation-error {
        border: 1px solid darkred;
    }

    .input-validation-error {
        border: 1px solid darkred;
    }

    form .buttons {
        flex-direction: row;
        justify-content: space-between;
    }
    
    nav .buttons {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    nav .button {
        width: 100%;
    }

    nav .button span {
        margin-left: 10px;
    }

    .page {
        max-width: 1280px;
        min-width: 720px;
    }

    .content {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .button {
        display: flex;
    }

    .hidden {
        display: none;
    }

    .nickname {
        margin: 0 10px;
    }

    .content_section {
        width: 75%;
    }

    #to_top {
        padding: 10px;
        margin: 20px;
        box-sizing: border-box;
        line-height: 0;
        font-size: 50px;
        border-radius: 35px;
        box-shadow: 0 0 20px #FFC300;
        background-color: #FFC300;
        color: #581845;
        position: fixed;
        z-index: 99;
        bottom: 0;
        display: none;
        cursor: pointer;
    }
    
    #to_top:hover {
        box-shadow: 0 0 40px #FFE522;
        background-color: #FFE522;
        color: #7A3A67;
        transition: 300ms;
    }
    
    #to_top:active {
        box-shadow: inset 0 0 10px #885000;
        background-color: #EEB200;
        color: #470734;
        transition: 300ms;
    }
}

@media (max-width: 720px) {
    header .left .button {
        display: none;
    }

    footer {
        display: none;
    }

    nav {
        width: 100%;
        min-width: max-content;
        position: fixed;
        bottom: 0;
        z-index: 100;
        box-shadow: 0 0 10px #333333;
        background-color: #FFFFFF;
    }

    form {
        width: 90%;
    }

    form .buttons {
        flex-direction: column;
    }

    nav .buttons {
        margin: 0 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    nav .button {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav .button span {
        font-size: 10px;
        height: 2em;
        overflow: visible hidden;
        text-align: center;
    }

    .page {
        max-width: 720px;
    }

    .content {
        flex-direction: column;
        padding-bottom: 60px;
    }

    .button {
        display: flex;
    }

    .nickname {
        display: none;
    }

    .content_section {
        width: 100%;
    }

    #to_top {
        display: none;
    }

    #to_top i {
        display: none;
    }
}

html {
    width: 100%;
    height: 100%;
    min-width: min-content;
    font-size: 16px;
    font-family: "Segoe Print", sans-serif;
    background-color: #EEEEEE;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    min-width: min-content;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px #333333;
    background-color: #FFFFFF;
}

hr {
    width: 100%;
    color: #DDDDDD;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 20px;
    box-sizing: border-box;
    color: #555555;
    box-shadow: 0 0 10px #555555;
}

form h3 {
    margin: 5px 0;
    text-align: center;
}

input {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #999999;
    margin: 5px 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Segoe Print", sans-serif;
    font-size: 16px;
}

button {
    width: 100%;
    border-radius: 10px;
    border: 0;
    margin: 5px 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Segoe Print", sans-serif;
    font-size: 16px;
    box-shadow: 0 0 20px #FFC300;
    background-color: #FFC300;
    color: #581845;
    transition: 300ms;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0 40px #FFE522;
    background-color: #FFE522;
    color: #7A3A67;
}

button:active {
    box-shadow: inset 0 0 10px #885000;
    background-color: #EEB200;
    color: #470734;
}

.brands {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.page {
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content {
    display: flex;
    flex: 1 0 auto;
    padding-top: 100px;
}

.form {
    padding: 20px 0;
    align-items: center;
    justify-content: center;
}

.copyright {
    font-size: 20px;
    line-height: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #999999;
}

.buttons {
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.button {
    padding: 10px;
    box-sizing: border-box;
    line-height: 1em;
    color: #555555;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
    transition: 300ms;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.link {
    color: #3490DE;
}

.bold {
    font-weight: bold;
}

.link:hover {
    color: #56B2FF;
    text-shadow: 0 0 20px #56B2FF;
}

.link:active {
    color: #1270BC;
    text-shadow: 0 0 20px #1270BC;
}

header .buttons {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

form .buttons {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

#user_panel .buttons {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

header .button {
    margin: 0 10px;
}

header .button, nav .button {
    font-size: 20px;
    border-radius: 20px;
}

#user_panel .button {
    font-size: 16px;
    border-radius: 18px;
}

#user_panel .button {
    width: 100%;
}

.logo_button {
    margin: 0 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

form .logo_button {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header .button:hover {
    color: #222222;
    background-color: #EEEEEE;
}

header .button:active {
    color: #111111;
    background-color: #DDDDDD;
}

nav .button:hover {
    color: #222222;
    background-color: #DDDDDD;
}

nav .button:active {
    color: #111111;
    background-color: #CCCCCC;
}

.brands .button:hover {
    color: #333333;
    text-shadow: 0 0 20px #999999;
}

.brands .button:active {
    color: #111111;
    text-shadow: 0 0 20px #555555;
}

.checkbox {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.checkbox input {
    width: auto;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox label {
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    transition: 300ms;
}

.checkbox label::before {
    content: "";
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
    border-radius: 5px;
    border: 1px solid #999999;
    transition: 300ms;
}

.checkbox label:hover {
    color: #333333;
    text-shadow: 0 0 10px #999999;
}

.checkbox label:active {
    color: #111111;
    text-shadow: 0 0 10px #555555;
}

.checkbox input:not(:checked) + label:hover::before {
    border: 1px solid #888888;
    background-color: #DDDDDD;
}

.checkbox input:not(:checked) + label:active::before {
    border: 1px solid #777777;
    background-color: #BBBBBB;
}

.checkbox input:checked + label::before {
    content: "✔";
    box-shadow: 0 0 10px #FFC300;
    background-color: #FFC300;
    color: #581845;
    border: 1px solid transparent;
}

.checkbox input:checked + label:hover::before {
    box-shadow: 0 0 10px #FFE522;
    background-color: #FFE522;
    color: #7A3A67;
}

.checkbox input:checked + label:active::before {
    box-shadow: inset 0 0 10px #885000;
    background-color: #EEB200;
    color: #470734;
}

.logo {
    width: 100px;
    display: block;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.user_avatar {
    width: 50px;
    display: block;
}

.icon {
    display: block;
    line-height: 0;
}

.brands .icon {
    font-size: 30px;
}

.toolbar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.toolbar_button {
    line-height: 0;
    padding: 3px;
    margin: 3px;
    box-sizing: border-box;
    border: 1px solid #555555;
    border-radius: 5px;
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.editor {
	white-space: pre-wrap;
	tab-size: 4;
}

.editor[placeholder]:empty:before {
	content: attr(placeholder);
	color: #555555; 
}

.editor[placeholder]:empty:focus:before {
	content: none;
}

#user_panel .button span {
    margin-left: 5px;
}

.content_section {
    padding: 10px 5px;
    box-sizing: border-box;
}

article {
    background-color: #F8F8F8;
    border-radius: 10px;
    box-shadow: 0 0 5px #555555;
    padding: 20px;
    margin: 10px 0;
    box-sizing: border-box;
}

article img {
    max-width: 100%;
}

.user_info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nickname_and_role {
    margin: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.administrator {
    color: #FF2400;
}

#slide_menu {
    cursor: pointer;
}

#user_panel {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px #333333;
    padding: 20px;
    margin: 0 10px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 100;
    top: 100px;
    display: none;
}